<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seaplace Hotel</title>

    <link rel="icon" href="img/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/TemplateLayout/Page/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/TemplateLayout/Page/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/TemplateLayout/Page/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/TemplateLayout/Page/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/TemplateLayout/Page/vendors/magnefic-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/TemplateLayout/Page/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/TemplateLayout/Page/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/TemplateLayout/Page/vendors/nice-select/nice-select.css">

    <link rel="stylesheet" href="~/TemplateLayout/Page/css/style.css">
</head>
<body>
    <!-- ================ header section start ================= -->  
       <partial name="Header" />   
    <!-- ================ header section end ================= -->
    <main class="site-main">
        @RenderBody()
    </main>
    <!-- ================ start footer Area ================= -->
        <partial name="Footer" />
    <!-- ================ End footer Area ================= -->



    <script src="~/TemplateLayout/Page/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/TemplateLayout/Page/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/TemplateLayout/Page/vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/TemplateLayout/Page/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/TemplateLayout/Page/vendors/easing.min.js"></script>
    <script src="~/TemplateLayout/Page/vendors/superfish.min.js"></script>
    <script src="~/TemplateLayout/Page/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/TemplateLayout/Page/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="~/TemplateLayout/Page/vendors/mail-script.js"></script>
    <script src="~/TemplateLayout/Page/js/main.js"></script>
</body>
</html>